#color-select{
    background-color: rgb(53, 47, 47);
}

#color-0 {
    color: white;
}

#color-1 {
    color : white;
}

#color-2 {
color : violet;
}

#color-3{
    color: pink;
}

#imagen{
    width: 40%;
}